# RAG Application API Configuration
API_ENDPOINT=https://35tiom0or8.execute-api.us-east-1.amazonaws.com/prod
UPLOAD_ENDPOINT=/upload
QUERY_ENDPOINT=/query
AUTH_ENDPOINT=/auth

# Default user settings
DEFAULT_USER_ID=test-user

# Cognito Configuration
COGNITO_CLIENT_ID=5ia9b0gd4fr8b157cug9id79l8

# Enabling/disabling evaluation
ENABLE_EVALUATION="true"
